/* You can add global styles to this file, and also import other style files */
.icon.website.big {
    height: 70px;
    width: 70px;
    background: url(https://s02.olx.pt/static/olxpt/packed/font/2f4f22766be42e5eac379976b5237b92ca.svg) no-repeat;
    background-size: 100%;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 11rem;
  min-height: 100%;
  background: #f7f7f7;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
